{% extends 'base.html' %}
{% block title %}
    <title>Регистрация пользователя</title>
{% endblock %}

{% block navbar-header %}
    <a class="navbar-brand">Регистрация пользователя</a>
{% endblock %}

{% block navigation %}
    <!-- Определение активной вкладки -->
    <li><a href="/tables/">Таблицы</a></li>
    <li><a href="/gen_ref/">Реферальная ссылка</a></li>
    <li><a href="/top/">Топ 10</a></li>
{% endblock %}

{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <a class="close" data-dismiss="alert">×</a>
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
    {% if general.non_field_errors %}
        {% for error in general.non_field_errors %}
            <div class="alert alert-danger">
                <a class="close" data-dismiss="alert">×</a>
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}
    {% for field in general %}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <a class="close" data-dismiss="alert">×</a>
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}

    {% if additional.non_field_errors %}
        {% for error in additional.non_field_errors %}
            <div class="alert alert-danger">
                <a class="close" data-dismiss="alert">×</a>
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}

    {% for field in additional %}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <a class="close" data-dismiss="alert">×</a>
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="panel panel-default panel-my">
            <div class="panel-heading panel-heading-my"><h4>Регистрация нового пользователя</h4></div>
            <div class="jumbotron">
                <form method="post" class="form-horizontal"> {% csrf_token %}
                    <div class="form-group">
                        <label for="ref_link" class="col-sm-3 control-label">Реферальный номер:</label>
                        <div class="col-sm-7">{{ ref_form.referal_number }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-md-offset-9">
                            <button class="btn btn-block btn-lg btn-file" type="submit">Зарегистрироваться</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
