{% extends 'base.html' %}
{% block title %}
    <title>Регистрация пользователя</title>
{% endblock %}

{% block navbar-header %}
    <a class="navbar-brand">Регистрация пользователя</a>
{% endblock %}

{% block navigation %}
    <!-- Определение активной вкладки -->
    <li><a href="/tables/">Таблицы</a></li>
    <li><a href="/gen_ref/">Реферальная ссылка</a></li>
    <li><a href="/top/">Топ 10</a></li>
{% endblock %}

{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <a class="close" data-dismiss="alert">×</a>
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
    {% if general.non_field_errors %}
        {% for error in general.non_field_errors %}
            <div class="alert alert-danger">
                <a class="close" data-dismiss="alert">×</a>
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}
    {% for field in general %}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <a class="close" data-dismiss="alert">×</a>
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}

    {% if additional.non_field_errors %}
        {% for error in additional.non_field_errors %}
            <div class="alert alert-danger">
                <a class="close" data-dismiss="alert">×</a>
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}

    {% for field in additional %}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <a class="close" data-dismiss="alert">×</a>
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="panel panel-default panel-my">
            <div class="panel-heading panel-heading-my"><h4>Добавление нового пользователя</h4></div>
            <div class="jumbotron">
                <form method="post" class="form-horizontal"> {% csrf_token %}
                    <div class="form-group">
                        {% load widget_tweaks %}
                        <label for="id_username" class="col-sm-3 control-label">Логин:</label>
                        <div class="col-sm-7">{{ general.username|add_class:"form-control" }}</div>
                        <label for="id_password1" class="col-sm-3 control-label">Пароль:</label>
                        <div class="col-sm-7">{{ general.password1|add_class:"form-control" }}</div>
                        <label for="id_password2" class="col-sm-3 control-label">Подтвердите пароль:</label>
                        <div class="col-sm-7">{{ general.password2|add_class:"form-control" }}</div>
                        <label for="id_first_name" class="col-sm-3 control-label">Имя:</label>
                        <div class="col-sm-7">{{ additional.first_name }}</div>
                        <label for="id_last_name" class="col-sm-3 control-label">Фамилия:</label>
                        <div class="col-sm-7">{{ additional.last_name }}</div>
                        <label for="id_email" class="col-sm-3 control-label">E-mail:</label>
                        <div class="col-sm-7">{{ additional.email }}</div>
                        <label for="id_link" class="col-sm-3 control-label">Реферальная ссылка(не обязательно):</label>
                        <div class="col-sm-7">{{ additional.link }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-md-offset-9">
                            <button class="btn btn-block btn-lg btn-file" type="submit">Зарегистрироваться</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
